<%- include('partials/header') %>


  <div class="jumbotron centered">
    <form action="/landing" method="post">
      <div class="container">
        <img src="images/landing.jpg" alt="">
        <!-- <i class="fas fa-key fa-6x"></i> -->
        <h1 class="display-3">Welcome !</h1>
        <p class="lead">Please Register or Login</p>
        <hr>
        <div class="landing_checkbox">
          <label for="patient">Patient</label>
          <input type="checkbox" name="for_patient" id="patient">
        </div>
        <div class="landing_checkbox">
          <label for="doctor">Doctor</label>
          <input type="checkbox" name="for_doctor" id="doctor">
        </div>
        <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Reginnster</a> -->
        <input type="submit" class="btn btn-light btn-lg" id="register_button" name="rbutton" value="Register">
        <input type="submit" class="btn btn-dark btn-lg" id="login_button" name="lbutton" value="Login">
        <!-- <a class="btn btn-dark btn-lg" href="/login" role="button" id="login_button">Login</a> -->

      </div>
    </form>

  </div>

  <%- include('partials/footer') %>