<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3 mb-4">Appointments</h1>

    <%  userWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <%}) %>

    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Book Slot</a>
  </div>
</div>

<%- include('partials/footer') %>
